* {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

 body {
    width: 100%;
    min-height: 100vh;
    margin-top: calc(var(--space-1) * 1);
    margin-bottom: var(--space-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--clr-blue), var(--clr-purple));
  }


  main {
  
  }

  textarea {
    border: 0;
    outline: 0;
    padding: var(--space-2);
    resize: none;
    width: 500px;
    display: flex;
    flex: 1;
  }

